<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='registration.css') }}">
  <title>Карточная буря</title>
</head>
<body>



    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="home" method="post">
                    <h2>Вход в аккаунт</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="email" required>
                        <label for="">Почта</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" required>
                        <label for="">Пароль</label>
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Запомнить меня  <a href="#">Забыл пароль</a></label>
                      
                    </div>
                    <button>Войти</button>
                    <div class="register">
                        <p>Нет аккаунта <a href="registration.html">Зарегистрироваться</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>

